<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home">Noxe</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        
        <i class="fa-solid fa-bars fa-2x  "></i>

       
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul  class="navbar-nav me-auto mb-2 mb-lg-0 flags">
          <li class="nav-item">
            <a class="nav-link"*ngIf="isLogin" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isLogin"routerLink="movie"  >Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isLogin" routerLink="tv" >Tv show</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"*ngIf="isLogin"  routerLink="people" >People</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="about" >About</a>
          </li>
        
        </ul>
  
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0  align-items-center">
            <div class="social-icon d-flex  text-center d-md-none">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-spotify"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </div>
            
            <li  *ngIf="!isLogin"class="nav-item">
              <a class="nav-link" routerLink="login" >Login</a>
            </li>
            <li *ngIf="!isLogin" class="nav-item">
              <a class="nav-link" routerLink="register" >Register</a>
            </li>
  
            
            <li *ngIf="isLogin" class="nav-item">
              <a class="nav-link cursor"(click)="logOut()" >Logout</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>