<div class="w-75 m-auto py-5">
    <h3 class="text-center">Login form</h3>
    <form [formGroup]="loginForm" (ngSubmit)="supmitLoginForm()" >
       
        <div class="input-data my-2">
            <label>email :</label>
            <input type="email" class="form-control my-2" formControlName="email">
            <div class="text-danger " *ngIf="loginForm.controls['email'].errors&&loginForm.controls['email'].touched">
                <p *ngIf="loginForm.controls['email'].errors['required']">email required</p>
                <p *ngIf="loginForm.controls['email'].errors['email']">email not valid</p>
            </div>
        </div>
        <div class="input-data my-2">
            <label>password :</label>
            <input type="password" class="form-control my-2" formControlName="password" >
            <div class="text-danger" *ngIf="loginForm.controls['password'].errors&&loginForm.controls['password'].touched">
                <p *ngIf="loginForm.controls['password'].errors['required']">password required</p>
                <p *ngIf="loginForm.controls['password'].errors['pattern']">password must start char a - z and contain number 1 2  3 ... </p>
            </div>
        </div>

        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-info my-3 float-end text-white">login</button>
        <div class="clearfix"></div>

    </form>
</div>