<div class="row py-5">
    <div class="col-md-2 text-center" *ngFor="let tv of tvList ">
        <a class="nav-link">
        <div class="item position-relative">
            <img [src]="imgBaseUrl + tv.poster_path" class="img-fluid my-2" alt="">
            <h2 class="h6">{{tv.name}}</h2>
            <span class="position-absolute top-0 end-0 bg-info p-2">{{tv.vote_average.toFixed(1)}}</span>
        </div>
        </a>
    </div>

    <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-5">
        <ul class="pagination">
          
          <li  class="page-item"><a class="page-link"></a></li>

        </ul>
      </nav>
</div>